<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://unpkg.com/vue"></script>
    <title>Vue App</title>
</head>
<body>
    <div id="app">
        <ul>Males:
            <li v-for="user in users" v-if="user.male">Name: {{user.name}} || Age: {{user.age}}</li>
        </ul>
        <ul>Females:
                <li v-for="user in users" v-if="!user.male">Name: {{user.name}} || Age: {{user.age}}</li>
            </ul>
    </div>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                users: [
      { name: 'John', age: 50, male: true},
      { name: 'Jane', age: 22, male: false},
      { name: 'Paul', age: 34, male: true},
      { name: 'Kate', age: 15, male: false},
      { name: 'Amanda', age: 65, male: false},
      { name: 'Steve', age: 38, male: true},
      { name: 'Keith', age: 21, male: true},
      { name: 'Don', age: 50, male: true},
      { name: 'Susan', age: 21, male: false}
    ]
            }
        })
    </script>
</body>
</html>